main {
    margin-top: 30px;
}

.task-form {
    width: 60%;
}

.auth-form {
    width: 40%;
}

/* DONE BUTTONS */

input.done-button {
    background-color: white;
    border-color: black;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    text-align: center;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    color:white;
}

.done-button-False:hover {
    color:gray;
}

.btn-view-task {
    font-size:80%;
}

input.done-button-True {
    /* padding-right: 0.3em; */
    color:black;
}

.list-task-True:first-child, :not(.list-task-True) + .list-task-True{ 
    margin-top:30px; 
}

.list-group-item, .list-group-item:hover{ z-index: auto; }



li.list-group-item.disabled {
    background-color: #d3d3d338;
}
li.list-group-item.disabled > form > input {
    background-color: #d3d3d338;
    color: transparent;
}
li.list-group-item.disabled > form > a {
    color: gray;
}

.categories {
    margin-bottom: 20px;
}

.badge-None {
    background-color: gray;
}

.delete-category {
    font-size:70%;
    padding: 2px;
}