{% extends "layout.html" %}

{% block body %}
<h1>Create an account</h1>
<p> Warning: passwords are saved as plaintext. Don't use a real password from any service </p>
<div class="alert alert-warning">
  {{ error }}
</div>
<form method="POST" action="{{ url_for('new_user') }}">

  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Login"/>
      </td>
    </tr>
</form>
{% endblock %}
