<ul class="list-group">
  {% for task in tasks %}
  <li class="list-group-item  {{ task | style_task }} list-task-{{ task.done }}">
    <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">

      <input class="done-button done-button-{{task.done}}" type="submit"
        value="✔" />

      <a href="/task/{{task.id}}">{{ task.name }}</a>
      {{ task.deadline|humanise }}
      <span class="badge badge-info badge-{{task.category}}">{{ task.category }}</span>
      <span class="badge badge-warning">{{ task.possible_after | format_possible }}</span>
    </form>
  </li>
  {% endfor %}
</ul>