{% extends "layout.html" %}

{% block body %}

  <div class="btn-group categories" role="group" aria-label="Basic example">
    <a class="btn btn-secondary" href="?category=none" role="button">No category</a>
    {% for category in categories %}

      <a class="btn btn-secondary" href="?category={{category.id}}" role="button">{{category.name}}</a>
    {% endfor %}
    <a class="btn btn-secondary" href="?" role="button">All</a>
  </div>


  {% with tasks=undone %}
    {% include "tasks/_list.html" %}
  {% endwith %}
  <br />
  {% with tasks=done %}
    {% include "tasks/_list.html" %}
  {% endwith %}

  <br/>
  <a href="/tasks/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add task</a>

{% endblock %}
